<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>POLARIS</title>

    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<!--@@var= description-->">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="https://polaris.io/index-en.html" hreflang="en" />
    <link rel="alternate" href="https://polaris.io/index-ko.html" hreflang="ko-KR" />

    <meta property="og:title" content="POLARIS">
    <meta property="og:description" content="<!--@@var= description-->">
    <!-- <meta property="og:image" content="http://polaris.io/image/bnr_polaris.png"> -->
    <meta property="og:url" content="http://polaris.io">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://polaris.io">
    <meta name="twitter:title" content="POLARIS">
    <meta name="twitter:description" content="<!--@@var= description-->">
    <!-- <meta name="twitter:image" content="http://polaris.io/image/bnr_polaris.png"> -->

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <!-- skip navigation -->
    <div class="skip-nav">
        <a href="#content">Go To Contents</a>
	</div>

    <header id="header">
        <div class="container">
            <h1><a href="#summary">polaris.io</a></h1>

            <a href="" class="m-menu">
                <span>Menu</span>
            </a>
    
            <nav>
                <div class="gnb">
                    <a href="#polaris">POLARIS</a>
                    <a href="#tech">Tech</a>
                    <a href="#milestone">Milestone</a>
                    <a href="#contact">Contact</a>
                </div>
    
                <div class="lang-sns">
                    <a href="index-en.html" class="lang en">ENG</a>
                    <a href="index-ko.html" class="lang ko">한국어</a>
                    <a href="https://t.me/polarisiokr" target="_blank" class="sns telegram">Telegram</a>
                    <a href="https://medium.com/polarisio" target="_blank" class="sns medium">Medium</a>
                </div>
            </nav>
        </div>
    </header>

    <article id="content">

        <section id="summary">
            <div class="container">
            <!--@@placeholder = summary-->
            </div>
        </section>

        <section id="polaris">
        <!-- @@placeholder = polaris -->
        </section>

        <section id="tech">
        <!-- @@placeholder = tech -->
        </section>

        <section id="milestone">
            <div class="container">
            <!-- @@placeholder = milestone -->
            </div>
        </section>

        <section id="contact">
            <div class="container">
            <!-- @@placeholder = contact -->
            </div>
        </section>

    </article>

    <footer id="footer">
        <div class="container">
            <h2>POLARIS</h2>
            <p class="copyright">Copyright ⓒ 2018 POLARIS foundation. All Right Reserved</p>
        </div>
    </footer>

    <!-- loading -->
    <div class="bodymovin" data-bm-path="./js/dna_loader.json" data-bm-renderer="svg"></div>

	<!-- jquery cdn -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bodymovin.js"></script>
	<script src="./js/js.js"></script>
</body>
</html>