@charset "UTF-8";

/* button */
button[type='button'],
a.button,
input[type='submit'] {
    // reset
    cursor:pointer;
    border-width:0;
    border-style:solid;
    border-color:transparent;

    font-family:inherit;
    background:transparent;

    appearance:none;

    display:inline-block;
    line-height:1.1;
    box-sizing:border-box;
    text-align: center;
    font-family:inherit;
    padding:0 24px;
    height:54px;
    line-height:52px;
    font-size:rem(16);
    font-weight:500;
    &:first-letter {
        text-transform:uppercase;
    }

    // size
    &.size-l {
        min-width:224px;
        padding:0 50px;
        height:58px;
        line-height:56px;
    }
    
    // color
    &.color-1 {
        color:#00d4ff;
        border:1px solid #00d4ff;
        border-image-source: linear-gradient(to right, #00d4ff, #ff00e3);
        border-image-slice:1;
        transition:all ease-in-out 300ms;
        &:hover,
        &:focus,
        &:active {
            color:#fff;
            background-color:rgba(255,255,255,0.1);
        }
    }
    &.color-2 {
        color:#16062c;
        background-image: linear-gradient(to right, #00d4ff, #ff00e3);
        transition:all ease-in-out 300ms;
        &:hover,
        &:focus,
        &:active {
            color:#fff;
            background-color:rgba(255,255,255,0.1);
        }
    }

    // mobile
    @include mediaQuery($deviceSmall) {
        font-size:rem(15);
        padding:0 24px;

        &.size-l {
            min-width:0;
            padding:0 28px;
            height:54px;
            line-height:52px;
        }
    }
}

// btn-area
.btn-area {
    margin-top:118px;
    text-align:center;

    // mobile
    @include mediaQuery($deviceSmall) {
        margin-top:50px;
    }
}
.btn-area-2 {
    margin-top:180px;
    text-align:center;

    // mobile
    @include mediaQuery($deviceSmall) {
        margin-top:50px;
    }
}