// header styling
header {
    box-sizing:border-box;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:74px;
    background-color:#272c3a;
    z-index:10;
    h1 {
        position:absolute; top:27px; left:0;
        @include fontNone;
        a {
            display:block;
            text-indent:-999em;
            display:inline-block;
            width:123px;
            height:19px;
            background:url('../image/polaris-logo-c.png') left top no-repeat transparent;
            background-size:contain;
        }
    }

    .m-menu {
        display:none;
    }

    // mobile
    @include mediaQuery($deviceSmall) {
        height:56px;
        &:before {
            content:'';
            display:none;
            position:fixed; top:0; left:0; right:0; bottom:0;
            background-color: rgba(0, 0, 0, 0.7);
            z-index:20;
        }
        h1 {
            top:22px; left:20px;
            a {
                width:80px;
                height:12px;
            }
        }
        .m-menu {
            display:block;
            position:absolute; top:20px; right:20px;
            width:20px;
            height:20px;
            z-index:31;
            span {
                position:absolute; top:6px; left:0; right:0;
                display:block;
                height:1px;
                background-color:#00d4ff;
                @include fontNone;
                transition:all .2s ease-in-out;
                &:before,
                &:after {
                content:'';
                position:absolute; top:-6px; left:0; right:0;
                display:block;
                height:1px;
                background-color:#00d4ff;
                opacity:1;
                transition:all .2s ease-in-out;
                }
                &:after {
                top:6px; right:4px;
                }
            }
        }
    }
}

// nav
header nav {
    text-align:right;
    @include fontNone;
    > div {
        display:inline-block;
    }
    a {
        display:inline-block;
        padding:26px 24px;
        color:#fff;
        font-size:rem(14);
        &.active {
            color:#00d4ff;
        }
    }
    .lang-sns {
        position:relative;
        margin-left:24px;
        padding-left:23px;
        &:before {
            content:'';
            display:block;
            position:absolute; top:30px; left:0;
            width:1px;
            height:12px;
            background-color:#fff;
        }
        .ko {
            font-size:rem(13);
            font-weight:300;
        }
        .sns {
            width:24px;
            margin-top:-10px;
            @include fontNone;
            background-repeat:no-repeat;
            background-position:center center;
            background-size:24px 24px;
            vertical-align:middle;
            @each $sns in telegram, medium {
                &.#{$sns} {
                    background-image:url("../image/icon-#{$sns}-w.png");
                }
            }
            &.medium {
                padding-right:0;
            }
        }
    }

    // mobile
    @include mediaQuery($deviceSmall) {
        position:fixed; top:0; right:-80%; bottom:0;
        width:80%;
        background-color:#000;
        text-align:left;
        z-index:21;
        transition:all .2s ease-in-out;
        a {
            font-size:rem(16);
        }
        .gnb {
            display:block;
            padding-top:60px;
            a {
                display:block;
                padding:20px 0 20px 32px;
            }
        }
        .lang-sns {
            position:static;
            &:before {
                display:none;
            }
            .lang {
                position:absolute; top:0; left:8px;
                &.ko {
                    left:96px;
                    padding-top:27px;
                    padding-left:30px;
                    font-size:rem(15);
                    &:before {
                        content:'';
                        display:block;
                        position:absolute; top:28px; left:0;
                        width:1px;
                        height:16px;
                        background-color:#fff;
                    }
                }
            }
            .sns {
                position:absolute; top:500px; left:20px;
                padding-right:0;
                &.medium {
                    left:85px;
                }
            }
        }
    }
}

// 활성화
header.active {
    @include mediaQuery($deviceSmall) {
        &:before {
            display:block;
        }
        nav {
            right:0;
        }
        .m-menu {
            span {
                top:6px; left:0; right:0;
                background-color:#fff;
                transform:rotate(-135deg);
                &:before,
                &:after {
                    content:'';
                    top:-6px; left:0; right:0;
                    background-color:#fff;
                }
                &:before {
                    opacity:0;
                }
                &:after {
                    top:0; right:0;
                    transform:rotate(-90deg);
                }
            }
        }
    }
}


// 언어셋에 따라서 컬러변경
.lang.en:lang(en),
.lang.ko:lang(ko){
    color:#00d4ff;
}
