@charset 'UTF-8';

// title type
.title-type-1 {
    padding-left:32px;
    color:#222;
    font-size:rem(34);
    font-weight:300;
    background:url("../image/icon-title.png") no-repeat 0 11px;

    // mobile
    @include mediaQuery($deviceSmall) {
        padding-left:22px;
        font-size:rem(18);
        background-position-y:4px;
        background-size:14px 9px;
    }
}

// text type
.text-type-1 {
    color:#222;
    font-size:rem(15);
    line-height:1.53;
}